__pycache__/
*.py[cod]
*.env
.venv/
venv/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.vscode/
.DS_Store
*.log
*.sqlite3
*.db
/reports/*.pdf
*.pdf
.env*
.cache/
htmlcov/
.coverage
secrets.yaml
config/*.yaml
config/*.json
